{% extends "welcome.html" %}

{% block body2 %}

    <h3>Top 3 Hashtags based on your address:</h3>

    {% for (name, results) in list_tweets %}

        <div class="row">
            <div class="col-md-6">
                    {% for tweet, sentiment in results %}
                    {{ sentiment }} -- {{ tweet }} <br></br>
                    {% endfor %}
            </div>
            <div class="col-md-6">
                <h3>{{ name }}</h3>
                <form action="/sentiments/hashtag" method="get">  
                    <input type="hidden" name="hashtag" value="love"><br>
                    <button type="submit" class="btn btn-info">
                        More Analysis! 
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </form>
            </div>
        </div>
        <hr>

    {% endfor %}

{% endblock %}